<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <%- include('./partials/_header'); %>
       
        <h1>NIET Social</h1>

        <%- include('./partials/_footer'); %>
        
    </body>
</html>