<html>
    <head>

    </head>
    <body>
        
        <%- include('./partials/_header'); %>
       
        <h1>This is Users/Profile page</h1>

        <%- include('./partials/_footer'); %>
      
    </body>
</html>