<h1>Create account</h1>
<form action="" method="post">
    <input type="text" name="Name" id="Name" placeholder="Enter your name">
    <input type="email" required placeholder="abc@xyz.com" name="email" title="email">
    <input type="password" name="password" required title="password">
    <button type="submit" style="cursor: pointer;">Create Account</button>
</form>