<h1>Create account</h1>
<form action="/users/create" method="post">
    <input type="text" name="Name" placeholder="Enter your name">
    <input type="email" required placeholder="abc@xyz.com" name="email" >
    <input type="password" placeholder="password" name="password" required>
    <button type="submit" style="cursor: pointer;" value="sign up">Create Account</button>
</form>